@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root{
    /* this might need to be taken out of the root */
    position: absolute;
    top: 0;
    right: 0;
    background: url('img1.jpeg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .9.5;
}
*{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
}
h1{
    background-color: rgba(104, 99, 69, 0.317);
    border-radius: 30px;
    font-size: 40px;
    text-shadow: 2px 2px black;
    color: white;
    margin-bottom: 20px;
}
h2{
    font-size: 20px;
    margin-bottom: 5px;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: rgba(12, 12, 10, 0.55);
    border-radius: 5px;
    padding: 10px;
    margin-left: 30px;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 30rem;
}
/*hover not growing*/
.btn:hover{
    cursor: pointer;
    box-shadow: 0px 6px 6px 6px black;
    transition: transform .5s;
    transform: scale(1.03);
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
